.navbar {
    background-color: #4a025e;
}

h2 {
    text-align: center;
    padding-top: 50px;
}

.carousel-item {
    font-size: 150%;
}

.col-md-6, .col-sm-12, .col-lg-4 {
    text-align: justify;
    background-color: #eed4ea;
}

.row {
    padding-top: 1%;
}

.opciones {
    border: 1px solid #803473;
    border-radius: 5px;
    padding: 15px;
    text-decoration: underline;
}

#no {
    background-color: rgb(165, 135, 165);
}

.navbar-nav > li {
    margin-left: 50%;
    margin-right: 50%;
}

@media (max-width: 1200px) {
    .navbar-nav {
        width: 100%;
        text-align: left; /* Align text to the left */
    }
    .nav-item {
        width: 100%; /* Ensure nav items take full width */
        text-align: left;
    }
    .navbar-nav > li {
        margin-left: 0;
        margin-right: 0;
    }
}
